@{
    ViewData["Title"] = " Games Center Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p> This is our pricacy page do NOT VIOLATE OUR TERMS </p>

<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
    <img src="~/images/images1.jpg"
         height="330px" width="500" />

</a>
